<header id="nav-menu" aria-label="navigation bar">
  <div class="container">
    <div class="nav-start">
      <a class="logo" href="#">
        <img src="{{ url_for('static', path='assets/imgs/logo250.png')}}" width="80" height="80" alt="Inc Logo" />
      </a>
      <nav class="menu">
        
        <ul class="menu-bar">
          <li><a class="nav-link" href="/home">Inicio</a></li>
          <li>
            <button class="nav-link dropdown-btn" data-dropdown="dropdown1" aria-haspopup="true" aria-expanded="false" aria-label="browse">
              Usuarios
              <i class="bx bx-chevron-down" aria-hidden="true"></i>
            </button>
            <div id="dropdown1" class="dropdown">
<!--                <li><a class="nav-link" href="/register/daily">Registro Cuota</a></li>
              <li><a class="nav-link" href="/register/allocation">asignar</a></li>  -->
              <ul role="menu">
                <li role="menuitem">
                  <a class="dropdown-link" href="/register/user">
                    <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/botd.svg" class="icon" />
                    <div>
                      <span class="dropdown-link-title">Registro Usuarios</span>
                      <p>Aca podras registrar los usuarios</p>
                    </div>
                  </a>
                </li>
<!--                  <li role="menuitem">
                  <a class="dropdown-link" href="/register/daily">
                    <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/fs.svg" class="icon" />
                    <div>
                      <span class="dropdown-link-title">TEMPLATE</span>
                      <p>TEMPLATE</p>
                    </div>
                  </a>
                </li> -->   
                <li role="menuitem">
                  <a class="dropdown-link" href="/drivers">
                    <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/sp.svg" class="icon" />
                    <div>
                      <span class="dropdown-link-title">Ver Usuarios</span>
                      <p>Aca podras ver los usuarios</p>
                    </div>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="/register/daily">
                    <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/cf.svg" class="icon" />
                    <div>
                      <span class="dropdown-link-title">Registro Cuotas</span>
                      <p>Aca podras registrar las cuotas</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <button class="nav-link dropdown-btn" data-dropdown="dropdown2" aria-haspopup="true" aria-expanded="false" aria-label="discover">
              Taxis
              <i class="bx bx-chevron-down" aria-hidden="true"></i>
            </button>
            <div id="dropdown2" class="dropdown">
              <ul role="menu">
                <li>
                  <span class="dropdown-link-title">Registros</span>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="/register/taxi">Taxis</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="/register/allocation">Asignacion de taxi</a>
                </li>
              </ul>
<!--               <ul role="menu">
                <li>
                  <span class="dropdown-link-title">Download App</span>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#mac-windows">MacOS & Windows</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#linux">Linux</a>
                </li>
              </ul> -->
            </div>
          </li>
        </ul>
      </nav>
    </div>

    <div class="nav-end">
      <div class="right-container">
<!--         <form class="search" role="search">
          <input type="search" name="search" placeholder="Search" />
          <i class="bx bx-search" aria-hidden="true"></i>
        </form> -->
        <li><a class="nav-link" href="/logout">Cerrar sesión</a></li>
      </div>

      <button id="hamburger" aria-label="hamburger" aria-haspopup="true" aria-expanded="false">
        <i class="bx bx-menu" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</header>
