<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', path='assets/imgs/icons8-taxi-96.png')}}" type="image/x-icon">
    <title>Taxi Control - Registro Usuario</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css')}}">
</head>


<body>
    {% block nav %}
    {% include 'components/nav.html' %}
    {% endblock %}
    <main style="padding: 1.5rem; margin: 0 auto; max-width: 1300px">
        <div class="container mx-auto bg-zinc-100 p-8 shadow-md rounded-lg">
            
            <a href="/home" class="font-bold  text-sm text-blue-500">⬅️ Volver a casa</a>
            <h1 class="text-3xl font-bold text-center mt-4">Registro de Usuario</h1>

            <form action="/register/user" method="POST" enctype="multipart/form-data"  class="grid grid-cols-1 md:grid-cols-2 gap-8">


                <div class="2 col-span-2">
                    <!-- Cambiando de select a input oculto -->
                    <input type="hidden" name="empresa_id" value="{% if empresa %}{{ empresa.id_empresa }}{% endif %}">
                </div>

                <div class="2">
                    <label for="rol" class="block text-sm font-bold text-black">Tipo de Usuario:</label>
                    <select class="block appearance-none w-full bg-white border border-black hover:border-black px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" name="rol" id="rol" required
                        onchange="updatePasswordField()">
                        <option value="" disabled selected>Seleccione rol</option>
                        {% if usuario and usuario.rol.value == "Administrador" %}
                        <option value="Secretaria">Secretaria</option>

                        {% endif %}
                        <option value="Conductor">Conductor</option>
                    </select>
                </div>

                <div class="2">
                    <label for="imagen" class="block text-sm font-bold text-black">Foto:</label>
                    <input type="file" class="form-input  mt-1 block w-full rounded-md border border-black
                        focus:outline-none focus:border-blue-500" name="imagen" id="imagen" accept="image/*">
                </div>

                <div class="2">
                    <label for="cedula" class="block text-sm font-bold text-black">CEDULA:</label>
                    <input type="number" class="appearance-none block w-full bg-white-200 text-white-700 border border-black rounded py-2 mb-1 leading-tight focus:outline-none focus:bg-white" name="cedula" id="cedula" required>
                </div>

                <div class="2">
                    <label for="nombre" class="block text-sm font-bold text-black">NOMBRES:</label>
                    <input type="text" class="appearance-none block w-full bg-white-200 text-white-700 border border-black rounded py-2 mb-1 leading-tight focus:outline-none focus:bg-white" name="nombre" id="nombre" required>
                </div>

                <div class="2">
                    <label for="apellido" class="block text-sm font-bold text-black">APELLIDOS:</label>
                    <input type="text" class="appearance-none block w-full bg-white-200 text-white-700 border border-black rounded py-2 mb-1 leading-tight focus:outline-none focus:bg-white" name="apellido" id="apellido" required>
                </div>

                <div class="2">
                    <label for="correo" class="block text-sm font-bold text-black">Correo Electrónico:</label>
                    <input type="email" class="appearance-none block w-full bg-white-200 text-white-700 border border-black rounded py-2 mb-1 leading-tight focus:outline-none focus:bg-white" name="correo" id="correo" required>
                </div>

                <div class="2 col-span-2">
                    <label for="contrasena" id="passLabel" class="block text-sm font-bold text-black">Contraseña:</label>
                    <input type="password" class="appearance-none block w-full bg-white-200 text-white-700 border border-black rounded py-2 mb-1 leading-tight focus:outline-none focus:bg-white" name="contrasena" id="contrasena">
                </div>

                <div class="2 col-span-2 text-center">
                    <button type="submit" class="mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Registrar Usuario</button>
                </div>
            </form>
        </div>
    </main>

    <script>
        function updatePasswordField() {
            var rolSelect = document.getElementById("rol");
            var contrasenaInput = document.getElementById("contrasena");
            var contrasenaLabel =  document.getElementById("passLabel");

            if (rolSelect.value === "Conductor") {
                contrasenaInput.value = "";
                contrasenaInput.removeAttribute("required");
                contrasenaInput.style.display = "none";
                contrasenaLabel.style.display = "none";
            } else {
                contrasenaInput.setAttribute("required", "required");
                contrasenaInput.style.display = "block";
                contrasenaLabel.style.display = "block";

            }
        }
    </script>
    {% if alert %}
    <p id="alert-type" style="display: none;">{{ alert.type }}</p>
    <p id="alert-message" style="display: none;">{{ alert.message }}</p>
    <script src="{{ url_for('static', path='js/alert.js')}}"></script>
    {% endif %}
    <script src="{{ url_for('static', path='js/app.js')}}"></script>

</body>

</html>