<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loader taxi</title>
  <link rel="stylesheet" href="loader.css">
</head>

<body>
  <section class="loader">
    <div class="road">
      <div class="taxi">
        <div class="light_beam"></div>
        <span>
          <b></b>
          <i></i>
        </span>
      </div>
      <div class="taxi">
        <div class="light_beam"></div>
        <span>
          <b></b>
          <i></i>
        </span>
      </div>
    </div>
    <div class="txt">
      <h1>
        <span>C</span>
        <span>A</span>
        <span>R</span>
        <span>G</span>
        <span>A</span>
        <span>N</span>
        <span>D</span>
        <span>O</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
      </h1>
    </div>
  </section>
</body>
</html>
