<!DOCTYPE html>
<html lang="en">

<head>
    <title>Taxi Control - Registro Cuota Diaria</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css')}}">
</head>

<body class="bg-gray-100">
    {% block nav %}
    {% include 'components/nav.html' %}
    {% endblock %}
    <main style="padding: 1.5rem; margin: 0 auto; max-width: 1300px">
        <div class="container">
            <h1>WebSocket Chat</h1>
            <h2>Your ID: <span id="ws-id"></span></h2>
            <form action="" onsubmit="sendMessage(event)">
                <input type="text" id="messageText" autocomplete="off" class="bg-slate-400 p-2 rounded-lg text-black" placeholder="Enter message">
                <button>Send</button>
            </form>
            <ul id='messages'>
            </ul>
            <script>
                var client_id = Date.now()
                document.querySelector("#ws-id").textContent = client_id;
                var ws = new WebSocket(`wss://50e8-191-98-69-115.ngrok-free.app/ws/${client_id}`);
                ws.onmessage = function(event) {
                    var messages = document.getElementById('messages')
                    var message = document.createElement('li')
                    var content = document.createTextNode(event.data)
                    message.appendChild(content)
                    messages.appendChild(message)
                };
                function sendMessage(event) {
                    var input = document.getElementById("messageText")
                    ws.send(input.value)
                    input.value = ''
                    event.preventDefault()
                }
            </script>
        </div>
    </main>
    <script src="{{ url_for('static', path='js/app.js')}}"></script>
    {% if alert %}
    <p id="alert-type" style="display: none;">{{ alert.type }}</p>
    <p id="alert-message" style="display: none;">{{ alert.message }}</p>
    <script src="{{ url_for('static', path='js/alert.js')}}"></script>
    {% endif %}
</body>

</html>
