<!doctype html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', path='assets/imgs/icons8-taxi-96.png')}}" type="image/x-icon">
    <title>Taxi Control - Ver Taxi</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css')}}">
</head>

<body>
    {% block nav %}
    {% include 'components/nav.html' %}
    {% endblock %}
    <main style="padding: 1.5rem; margin: 0 auto; max-width: 1300px;">
        <div class=" container mx-auto flex flex-wrap">
            <div class="top-0 left-0 right-0">
                <div class="mx-auto flex flex-wrap justify-center items-end columns-2 mt-4">
                    <h1 class="text-4xl font-bold text-black">TAXIS</h1>
                </div>

                <div class="flex justify-between">

                    <div class="ms-40">
                        <button class="bg-blue-500 text-white px-4 rounded hover:bg-sky-700">
                            <a href="/register/taxi">Registrar Taxi</a>
                        </button>
                    </div>

                    <div>
                        <form id="formSearch" class="flex items-end space-x-4" action="/driver/search" method="POST">
                            <input type="text" name="search" id="search" placeholder="buscar"
                                class="border-2 border-sky-500 rounded">
                            <button type="submit"
                                class="bg-blue-500 text-white px-4 rounded hover:bg-sky-700">buscar</button>
                        </form>
                    </div>

                </div>

                {% if taxisAssigned: %}
                <div class="flex flex-wrap justify-center mt-4">
                    {% for taxisA in taxisAssigned %}
                    <div class="bg-zinc-100 my-4 mx-2 p-6 justify-end items-end shadow-xl hover:shadow-2xl ease-in duration-200  border border-zinc-300"
                        style="width: 19rem;" data-drivers="{{taxisA.placa}}">
                        <div class="relative mt-4 justify-center items-center columns-1 ">
                            <h5 class="text-xl font-bold my-2 mx-10 w-25 ">{{ taxisA.modelo }}
                                {{ taxisA.marca }}</h5>
                            <p class="text-gray-600 my-2 w-25 mx-10">{{taxisA.placa}}</p>
                            <form action="/view/detail/taxi" method="POST">
                                <input type="hidden" name="id_taxi" value="{{taxisA.id_taxi}}">
                                <button type="submit"
                                    class="bg-blue-500 text-white mt-2 px-4 py-2 rounded transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 w-30 mx-10">
                                    Detalles
                                </button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}

                {% else %}

                <div class="text-center mt-4">
                    <h2 class="text-2xl">No hay taxis registrados</h2>
                </div>
            </div>

            {% endif %}
            {% if taxisNotAssigned: %}
            {% for taxiNA in taxisNotAssigned %}
            <div class="bg-zinc-100 my-4 mx-2 p-6 justify-end items-end  shadow-xl hover:shadow-2xl ease-in duration-200  border border-zinc-300"
                style="width: 19rem;" data-drivers="{{taxiNA.placa}}">
                <div class="relative mt-4 justify-center items-center columns-1">
                    <h5 class="text-xl font-bold my-2 mx-10 w-25">{{ taxiNA.modelo }} {{ taxiNA.marca }}</h5>
                    <p class="text-gray-600 my-2 w-25 mx-10">{{taxiNA.placa}}</p>

                    <!-- Botón adicional para taxis no asignados -->
                    
                    <button type="submit"
                        class="bg-green-500 text-white mt-2 px-4 py-2 rounded transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-green-600 duration-300 w-30 mx-10 " onclick="prueba('{{ taxiNA.id_taxi }}', '{{ taxiNA.placa }}', '{{ taxiNA.modelo }}', '{{ taxiNA.marca }}')">
                        Asignar Conductor
                    </button>

                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="flex flex-wrap mt-5 justify-around">
                <div class="flex flex-wrap justify-normal">
                    <label for="filas" class="p-3">Numero de filas:</label>
                    <select name="filas" id="filas" onchange="cambiarNumeroFilas(this)">
                        <option selected value="" disabled>...</option>
                        <option value="4" {% if taxi_page == 4 %}selected{% endif %}>4</option>
                        <option value="8" {% if taxi_page == 8 %}selected{% endif %}>8</option>
                        <option value="12" {% if taxi_page == 12 %}selected{% endif %}>12</option>
                    </select>
                </div>
                {% if total_paginas %}
                <div class="flex flex-wrap mt-5 justify-around">
                    {% if total_paginas > 1 %}
                    <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm">
                        {% if page > 1 %}
                        <a class="page-link relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-blue-200 focus:z-20 focus:outline-offset-0"
                            href="?page={{ 1 }}&taxi_page={{ taxi_page }}">
                            <span class="sr-only">Pagina 1</span>
                            <i class='bx bx-chevrons-left'></i>
                        </a>
                        {% endif %}
                        {% if page > 1 %}
                        <a class="page-link relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-blue-200 focus:z-20 focus:outline-offset-0"
                            href="?page={{ page - 1 }}&taxi_page={{ taxi_page }}">
                            <span class="sr-only">Anterior</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                        {% endif %}
                        {% for p in range(start_page, end_page + 1) %}
                        <a class="page-link page-item {% if p == page %}active{% endif %} relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-blue-200 focus:z-20 focus:outline-offset-0 {% if p == page %}bg-blue-400 text-white{% endif %}"
                            href="?page={{ p }}&taxi_page={{ taxi_page }}">{{ p }}</a>
                        {% endfor %}
                        {% if page < total_paginas %}
                        <a class="page-link relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-blue-200 focus:z-20 focus:outline-offset-0"
                            href="?page={{ page + 1 }}&taxi_page={{ taxi_page }}">
                            <span class="sr-only">Siguiente</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                        {% endif %}
                        {% if page < total_paginas %}
                        <a class="page-link relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-blue-200 focus:z-20 focus:outline-offset-0"
                            href="?page={{ total_paginas}}&taxi_page={{ taxi_page }}">
                            <span class="sr-only">Ultima Pagina</span>
                            <i class='bx bx-chevrons-right'></i>
                        </a>
                        {% endif %}
                    </nav>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>

        </div>

        <div id="myModal" class="modal fixed hidden inset-0 overflow-y-auto items-center flex justify-center backdrop-blur-sm bg-white/30 ">
            <div class="modal-overlay  inset-0 bg-black opacity-30"></div>

            <div class="modal-container mx-auto p-8 bg-zinc-100 rounded-lg shadow-xl hover:shadow-2xl ease-in duration-200 - border border-zinc-300">
                
                <h1 class="text-3xl font-bold text-center mt-4">Asignar Conductor</h1>

                <form action="/create/assignment" method="POST" enctype="multipart/form-data" class="grid grid-cols-1 md:grid-cols-2 gap-8" id="createAssignmentForm">


                    <div id="select" class="col-span-2 mt-4">

                    </div>

                    <div id="select_taxi" class="col-span-2 ">

                    </div>

                    <div class="text-center">
                        <button type="button" class=" bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" id="closeModalButton" onclick="closeModal()"> Cerrar Modal</button>
                    </div>

                    <div class="  text-center">
                        <button type="submit" class="mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Asignar</button>
                    </div>
                </form>
            </div>
        </div>


    </main>

    <script>
        const formSearch = document.getElementById('formSearch');
        const search = document.getElementById('search');
        const drivers = document.querySelectorAll('[data-drivers]');
        console.log(drivers);

        formSearch.addEventListener('submit', (e) => {
            e.preventDefault();
            const searchValue = search.value;
            if (searchValue === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Debes ingresar un valor para buscar',
                })
            } else {
                let founded = false;
                drivers.forEach((driver) => {
                    const driverName = driver.dataset.drivers;
                    if (driverName.includes(searchValue)) {
                        driver.style.display = 'block';
                        founded = true;
                    } else {
                        driver.style.display = 'none';
                    }
                })
                if (!founded) {
                    formSearch.submit();
                }
            }
        })
    </script>

    <script>

        function openModal() {
            const modal = document.getElementById("myModal");
            modal.classList.remove("hidden");
        }

        function closeModal() {
            const modal = document.getElementById("myModal");
            modal.classList.add("hidden");
        }

        function getInfoDrivers(id_taxi) {
            Swal.fire({
                title: 'Asignar Conductor',
                html: `<form id="formAssignDriver" action="/assign/driver" method="POST">
                        <input type="hidden" name="id_taxi" value="${id_taxi}">
                        <div class="mb-3">
                            <label for="id_driver" class="form-label">Conductor</label>
                            <select name="id_driver" id="id_driver" class="form-select">
                                <option selected disabled>...</option>
                                {% for driver in drivers %}
                                <option value="{{ driver.id_driver }}">{{ driver.nombre }} {{ driver.apellido }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>`,
                showCancelButton: true,
                confirmButtonText: 'Asignar',
                cancelButtonText: 'Cancelar',
                showLoaderOnConfirm: true,
                preConfirm: () => {
                    const id_driver = Swal.getPopup().querySelector('#id_driver').value;
                    if (!id_driver ) {
                        Swal.showValidationMessage('Todos los campos son obligatorios');
                    } else {
                        return fetch('/assign/driver', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    id_taxi,
                                    id_driver,
                                })
                            })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error(response.statusText)
                                }
                                return response.json()
                            })
                            .catch(error => {
                                Swal.showValidationMessage(
                                    `Request failed: ${error}`
                                )
                            })
                    }
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Conductor asignado correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.href = '/view/taxi';
                    })
                }
            })
        }

        async function prueba(id_taxi, placa, modelo, marca) {
            openModal();
            
            console.log("--------------------- ", id_taxi);
            console.log("--------------------- ", placa);
            console.log("--------------------- ", modelo);
            console.log("--------------------- ", marca);
            
            try {
                const response = await fetch('/drivers/Na', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                });

                if (!response.ok) {
                    throw new Error(response.statusText);
                }

                const contentType = response.headers.get('Content-Type');

                if (contentType && contentType.includes('application/json')) {
                    const data = await response.json();
                    console.log(data);

                    // Obtener el elemento de selección
                    const selectElement = document.getElementById('select');

                    selectElement.innerHTML = '';

                    // Crear el elemento de selección
                    const select = document.createElement('select');
                    select.name = 'id_conductor';
                    select.id = 'id_conductor'; 

                    // Agregar clases al elemento de selección
                    select.classList.add('form-select', 'mt-1', 'block', 'w-full', 'rounded-md', 'border', 'border-black', 'focus:outline-none', 'focus:border-blue-500', 'required');
                    
                    // Crear y agregar las opciones
                    const defaultOption = document.createElement('option');
                    defaultOption.value = '';
                    defaultOption.disabled = true;
                    defaultOption.selected = true;
                    defaultOption.text = 'Seleccione un conductor'; 
                    select.appendChild(defaultOption);

                    if (data.conductores.length === 0) {
                        // Si no hay conductores, agregar una opción deshabilitada indicando que no hay conductores disponibles
                        const noDriverOption = document.createElement('option');
                        noDriverOption.value = '';
                        noDriverOption.disabled = true;
                        noDriverOption.text = 'No hay conductores disponibles'; 
                        select.appendChild(noDriverOption);
                    } else {
                        // Si hay conductores, crear y agregar opciones para cada conductor
                        data.conductores.forEach(conductor => {
                            const option = document.createElement('option');
                            option.value = conductor.id_usuario;
                            option.text = `${conductor.nombre} ${conductor.apellido}`;
                            select.appendChild(option);
                        });
                    }
                    // Agregar el elemento de selección al formulario
                    selectElement.appendChild(select);

                    // Obtener el elemento de selección
                    const selectElemento = document.getElementById('select_taxi');

                    selectElemento.innerHTML = '';

                    selectElemento.innerHTML = 
                    `
                    <label for="id_taxi"class="block text-sm font-bold text-black mb-2">Taxi Seleccionado:</label>
                    <select name="id_taxi" id="id_taxi"
                        class="form-select mt-1 block w-full rounded-md border border-black focus:outline-none focus:border-blue-500" required>

                        <option value="`+id_taxi+`" selected>`+placa+` `+modelo+` - `+marca+` </option>
                    </select>
                    `;

                    // Obtén el elemento select_taxi
                    const selectTaxiElement = document.getElementById('select_taxi');


                } else {
                    console.error('La respuesta no es JSON:', await response.text());
                }

            } catch (error) {
                console.error('Error en la solicitud:', error);
            }
        }







    </script>

    {% if alert %}
    <p id="alert-type" style="display: none;">{{ alert.type }}</p>
    <p id="alert-message" style="display: none;">{{ alert.message }}</p>
    <script src="{{ url_for('static', path='js/alert.js')}}"></script>
    {% endif %}
    <script src="{{ url_for('static', path='js/app.js')}}"></script>
    <script>
        function cambiarNumeroFilas(selectElement) {
            var selectedValue = selectElement.value;
            window.location.href = `?page=${1}&taxi_page=${selectedValue}`;
        }

        function obtenerParametroUrl(parametro) {
            var urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(parametro);
        }
    </script>
</body>

</html>