<!doctype html>
<html lang="en">

<head>
    <title>Taxi Control - Ver Taxi</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css')}}">
</head>

<body>
    {% block nav %}
    {% include 'components/nav.html' %}
    {% endblock %}
    <main style="padding: 1.5rem; margin: 0 auto; max-width: 1300px;">
        <div class=" container mx-auto flex flex-wrap">
            <div class="top-0 left-0 right-0">
                <div class="mx-auto flex flex-wrap justify-center items-end columns-2 mt-4">
                    <h1 class="text-4xl font-bold text-gray-600">TAXIS</h1>
                </div>
                <form id="formSearch" class="flex flex-wrap mx-20 justify-end items-end space-x-4 " action="/driver/search"
                    method="POST">
                    <input type="text" name="search" id="search" placeholder="buscar"
                        class="border-2 border-sky-500  rounded ">
                    <button type="submit" class="bg-blue-500 text-white px-4  rounded hover:bg-sky-700">buscar</button>
                </form>

                {% if taxis: %}
                <div class="flex flex-wrap justify-center mt-4">
                    {% for taxi in taxis %}
                    <div class="bg-white shadow-md my-4 mx-2 p-6  justify-end items-end " style="width: 19rem;" data-drivers="{{taxi.placa}}">


                        <div class="relative mt-4 justify-center items-center columns-1 ">
                            <h5 class="text-xl font-semibold my-2 mx-10 w-25 ">{{ taxi.modelo }}
                                {{ taxi.marca }}</h5>
                            <p class="text-gray-600 my-2 w-25 mx-10">{{taxi.placa}}</p>

                            <form action="/update/taxi/path" method="POST">
                                <input type="hidden" name="id_taxi" value="{{taxi.id_taxi}}">
                                <button type="submit" class="bg-blue-500 text-white mt-2 px-4 py-2 rounded transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 w-30 mx-10">
                                    Editar
                                </button>
                            </form>

                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                {% if taxis is none %}
                <div class="text-center mt-4">
                    <h2 class="text-2xl">No hay taxis registrados</h2>
                </div>
                {% endif %}
                {% endif %}
            </div>

        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>

    <script>
        const formSearch = document.getElementById('formSearch');
        const search = document.getElementById('search');
        const drivers = document.querySelectorAll('[data-drivers]');
        console.log(drivers);
        
        formSearch.addEventListener('submit', (e) => {
        e.preventDefault();
        const searchValue = search.value;
        if (searchValue === '') {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Debes ingresar un valor para buscar',
            })
        } else {
            let founded = false;
            drivers.forEach((driver) => {
                const driverName = driver.dataset.drivers;
                if (driverName.includes(searchValue)) {
                    driver.style.display = 'block';
                    founded = true;
                } else {
                    driver.style.display = 'none';
                }
            })
            if (!founded) {
                formSearch.submit();
            }
        }
    })
    </script>
    {% if alert %}
    <p id="alert-type" style="display: none;">{{ alert.type }}</p>
    <p id="alert-message" style="display: none;">{{ alert.message }}</p>
    <script src="{{ url_for('static', path='js/alert.js')}}"></script>
    {% endif %}
    <script src="{{ url_for('static', path='js/app.js')}}"></script>
</body>
</html>